<div class="container-fluid">
<h1 class= "text-center">Quotes & Saying About Life </h1>
<div class="jumbotron">
  <p class="text-center">Quotes are very powerful. On the surface, they are just a bunch of words but when you ponder over them they reveal powerful ideas that resonate with your very core.</p>
</div>
<hr>
<ul>
  <div *ngFor='let quote of quotes;let i = index'>
    <li appHighlightvotes>{{quote.content}} by ~ <span id="author">{{quote.author}}</span> <br> posted on {{quote.datePosted|date}}</li>
    <button (click)='toggleDetails(i)'>Show More</button>
    <app-quote-detail *ngIf='quote.showDetails'[quote]= 'quote'(isRead)='readQuote($event,i)'></app-quote-detail>
  </div>
</ul>
</div>
<br><br>
<div class="container">
  <div class="row">
   <div class="col-md-6">
    <app-quote-form></app-quote-form>
   </div>
  </div>
</div>
