@import "~bootstrap/dist/css/bootstrap.css";

body{
  font-family: cursive;
  background-image:url("../src/assets/Pic2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment : fixed;
  font-size: larger;
  background-image: opacity 0.5;
};


